<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        JNX - Controle De Contas
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Template/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Template/assets/demo/demo.css" rel="stylesheet" />
    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    @RenderSection("styles", required: false)
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="gray" data-active-color="danger">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <div class="logo-image-small">
                    <a href="/Home/Index">
                        <img src="~/img/logo.png">
                    </a>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/Home/Index">
                            <i class="nc-icon nc-bank"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Clientes/Index">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Clientes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Fatura/Index">
                            <i class="nc-icon nc-paper"></i>
                            <p>Faturas</p>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/Parcela/Index">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Parcelas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Despesas/Index">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Despesas</p>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand">Controle de Faturamento - JNX</a>
                    </div>                                       
                </div>
            </nav>
            <!-- End Navbar -->
            <!-- <div class="panel-header panel-header-lg">

              <canvas id="bigDashboardChart"></canvas>


            </div> -->
            <div class="content">

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">                        
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, Desenvolvido por PSoft Company - Todos direitos reservados 
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Template/assets/js/core/jquery.min.js"></script>
    <script src="~/Template/assets/js/core/popper.min.js"></script>
    <script src="~/Template/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Template/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/Template/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Template/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Template/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Template/assets/demo/demo.js"></script>
    <!-- DataTable -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
