<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <meta charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link href="~/Template/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Login/css/signin.css" rel="stylesheet">

    <link href="~/img/logo.png" rel="stylesheet">
</head>
<body class="text-center">
    <div class="">
        @RenderBody()

    </div>
</body>
@RenderSection("Scripts", required:false)
</html>
