@using ControleFaturamentoJnx.Models
@model Tuple<Funcionario, Endereco>

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Cadastro de Funcionario</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label asp-for="Item1.DataAdimissao" class="control-label"></label>
                            <input asp-for="Item1.DataAdimissao" name="DataAdimissao" class="form-control" />
                            <span asp-validation-for="Item1.DataAdimissao" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Item1.Nome" class="control-label"></label>
                            <input asp-for="Item1.Nome" name="Nome" class="form-control" />
                            <span asp-validation-for="Item1.Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Item1.Salario" class="control-label"></label>
                            <input asp-for="Item1.Salario" name="Salario" class="form-control" />
                            <span asp-validation-for="Item1.Salario" class="text-danger"></span>
                        </div>
                        <div class="form-check-inline col-md-2">
                            <input class="form-check-input" asp-for="Item1.Ativo" name="Ativo"/>
                            <label class="form-check-label">
                                Ativo
                            </label>
                        </div>
                    </div>                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label asp-for="Item2.Estado" class="control-label"></label>
                            <input asp-for="Item2.Estado" name="estado" class="form-control" />
                            <span asp-validation-for="Item2.Estado" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Item2.Cidade" class="control-label"></label>
                            <input asp-for="Item2.Cidade" name="cidade" class="form-control" />
                            <span asp-validation-for="Item2.Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Item2.Bairro" class="control-label"></label>
                            <input asp-for="Item2.Bairro" name="bairro" class="form-control" />
                            <span asp-validation-for="Item2.Bairro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Item2.Rua" class="control-label"></label>
                            <input asp-for="Item2.Rua" name="rua" class="form-control" />
                            <span asp-validation-for="Item2.Rua" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Item2.Cep" class="control-label"></label>
                            <input asp-for="Item2.Cep" name="cep" class="form-control" />
                            <span asp-validation-for="Item2.Cep" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Item2.Numero" class="control-label"></label>
                            <input asp-for="Item2.Numero" name="numero" class="form-control" />
                            <span asp-validation-for="Item2.Numero" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

